In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
def load_data(file):
    '''
    Load data from CSV or JSON file into data frame.
    '''
    data = pd.read_csv(file, index_col = 0)
    return data

In [13]:
lst = load_data('lst - 1.csv')
ndvi = load_data('ndvi - 1.csv')
night = load_data('night_lights - 1.csv')

In [26]:
lst

   Year  autocorrelation
0  2009     0.000000e+00
1  2010     2.482547e+08
2  2011    -1.113782e+09
3  2012     5.422115e+07

Example data

In [30]:
mu = lst.autocorrelation.mean()
sd = lst.autocorrelation.std()

In [33]:
import random

In [37]:
l2 = []
for i,j in enumerate(lst.autocorrelation):
    print(j)
    l2[i] = j+10**6

0.0

IndexError: list assignment index out of range

In [39]:
import numpy as np

In [40]:
np.zeros()